 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//=============== Font Variables =================//

$primary-color: #3a4e63; // Blue
$secondary-color: #816c5b; // Brown

//=============== Mixins =================//

@mixin btn($bg-color) {
  background: $bg-color;
  width: rem(100px);
  margin: rem(20px);
  padding: rem(10px);
  color: #fff;
  border: 1px solid #fff;
  border-radius: rem(10px);
}

@mixin sections() {
  @include outer-container;
  text-align: center;
  height: rem(650px);
}

//=============== Basic Styles =================//

html, body {
  width: 100%;
  height: 100%;
  line-height: rem(30px);
  font-family: "Helvetica";
}

img {
  max-width: 100%;
  height: auto;
}

li {
  display: inline; 
}

a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

//=============== HEADER =================//

header {
  @include fill-parent;
  background:  url('../images/chair.jpg');
  @include background-image(linear-gradient(to top, rgba(255, 255, 255, .2) 1%, rgba(255, 255, 255, .2) 102%, #fff), url("/images/chair.jpg"));
  background-size: cover;
  height: 100%;
  color: #fff;

  .nav {
    @include fill-parent;

    ul {
      text-align: right;
      margin-top: 0;
      padding: rem(25px) rem(20px) 0 0;

      li {
        margin-right: rem(40px);    
        position: relative;
        cursor: pointer;

        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: rem(-5px);
          width: 0;
          height: rem(2px);
          background-color: #fff;
          transition: width .3s;
        }

        &:hover:after {
          width: 100%;
        }
      }
    }
  }

  .main-heading {
    @include outer-container;
    text-align: center;
    padding-top: rem(175px);
    
    h1 {
      font-size: 5em;
    }

    .social-header {
      color: #fff;
      margin: rem(10px) rem(20px) 0 rem(20px);

      &:hover {
        color: $primary-color;
        transition: all .2s ease-in;
      }
    }
  }
}

//================ WORK ==================//

.about {
  @include outer-container;
  padding: rem(80px) 0;
  text-align: center;
  color: #493829;

  h1 {
    margin: 0;
  }
}

.work-1 {
  margin: rem(130px) 0 rem(20px) 0;
  text-align: center;
}

// Section no-color
.hidden-section-mobile {
  display: none;
}

.section-no-color {
  @include sections();

  .site-info {
    @include span-columns(6);
    margin-top: rem(130px);
    color: $primary-color;

    button {
      @include btn($primary-color);

      &:hover {
        background: $secondary-color;
        transition: all .2s ease-in;
      }
    }
  }

  .img-site-right {
    @include span-columns(6);

    img {
      margin: rem(120px) 0 0 rem(55px);
    }
  }
}

// Section color
.section-color {
  @include sections();

  .img-site-left {
    @include span-columns(6);
      
    img {
      margin: rem(120px) rem(55px) 0 0;
    }
  }

  .site-info {
    @include span-columns(6);
    margin-top: rem(130px);
    color: #493829;
    
    h3 {
      text-align: left;
    }

    button {
      @include btn($secondary-color);

      &:hover {
        background: $primary-color;
        transition: all .2s ease-in;
      }
    }
  }
}

.skills-used {
  text-align: left;

  span {
    font-weight: bold;
  }
}

//================ CONTACT ==================//

.contact {
  @include outer-container;
  margin-top: rem(100px);
  text-align: center;
  color: #493829;
}

.social {
  color: $primary-color;
  margin: rem(60px) rem(60px) 0 rem(60px);
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: rem(-5px);
    width: 0;
    height: rem(2px);
    background-color: $secondary-color;
    transition: width .3s;
  }

  &:hover:after {
    width: 100%;
  }

  &:hover {
    color: $secondary-color;
  }
}

.fa-arrow-up {
  color: $secondary-color;
  float: right;
  margin: rem(5px) rem(50px) rem(60px) 0;
  
  &:hover {
    color: $primary-color;
  }
}

//================ Media Queries ==================//

// Tablet
.about {
  $tablet: new-breakpoint(min-width 900px max-width 1110px, 12); 

  p {
    @include media($tablet) {
      @include span-columns(10);
      @include shift(1);
      text-align: left;
    }
  }
}

.work {
  $tablet: new-breakpoint(min-width 900px max-width 1110px, 12);

  .section-no-color {
    
    .site-info {
      @include media($tablet) {
        @include span-columns(5);
        @include shift(1);
      }
    }
    
    .img-site-right {
      @include media($tablet) {
        @include span-columns(5);

        img {
          margin: rem(120px) 0 0 rem(30px);
        }
      }
    }
  }

  .section-color {

    .img-site-left {
      @include media($tablet) {
        @include span-columns(5);
        @include shift(1);
      }
    }

    .site-info {
      @include media($tablet) {
        @include span-columns(5);
        margin-left: rem(30px);
      }
    }
  }
}

// In Between 
.about {
  $tablet-1: new-breakpoint(min-width 601px max-width 899px, 12); 

  p {
    @include media($tablet-1) {
      @include span-columns(8);
      @include shift(2);
      text-align: left;
    }
  }
}

.work {
  $tablet-1: new-breakpoint(min-width 601px max-width 899px, 12);

  .section-no-color {
    @include media($tablet-1) {
      display: none;
    }
  }

  .hidden-section-mobile {
    @include media($tablet-1) {
      display: block;
      height: rem(750px);
    }

    .site-info {
      @include media($tablet-1) {
        @include span-columns(8);
        @include shift(2);

        p {
          text-align: left;
        }

        button {
          @include outer-container;
          margin: rem(20px) rem(10px);
        }
      }
    }

    .img-site-right {
      @include media($tablet-1) {
        @include span-columns(5);
        @include shift(3);

        img {
          margin: rem(60px) 0 rem(-110px) rem(40px);
        }
      }
    }
  }

  .section-color {
    @include media($tablet-1) {
      height: rem(750px);
    }

    .img-site-left {
      @include media($tablet-1) {
        @include span-columns(5);
        @include shift(3);

        img {
          margin: rem(40px) 0 rem(-110px) rem(40px);
        }
      }
    }

    .site-info {
      @include media($tablet-1) {
        @include span-columns(8);
        @include shift(2);

        p {
          text-align: left;
        }

        button {
          @include outer-container;
          margin: rem(20px) rem(10px);
        }
      }
    }
  }
}

// Mobile 
header {
  $mobile: new-breakpoint(max-width 560px 12);

  .main-heading {
    @include media($mobile) {
      padding-top: rem(100px);

      h1 {
        font-size: 2.7em;
      }

      h2 {
        font-size: 1.3em;
      }

      .social-header {
        width: 5px;
      } 
    }
  }
}
 
.about {
  $mobile: new-breakpoint(max-width 600px 12); 
  @include media($mobile) {
    padding: rem(50px) 0;
  }

  p {
    @include media($mobile) {
      @include span-columns(10);
      @include shift(1);
      text-align: left;
      font-size: .9em;
    }
  }
}

.work-1 {
  $mobile: new-breakpoint(max-width 600px 12);
  @include media($mobile) {
    margin: rem(70px) 0 rem(20px) 0;
  } 
}

.work {
  $mobile: new-breakpoint(max-width 600px 12);

  .section-no-color {
    @include media($mobile) {
      display: none;
    }
  }

  .hidden-section-mobile {
    @include media($mobile) {
      display: block;
      height: rem(700px);
    }

    .site-info {
      @include media($mobile) {
        @include span-columns(10);
        @include shift(1);

        p {
          text-align: left;
          font-size: .9em;
        }

        button {
          @include outer-container;
          margin: rem(20px) rem(10px);
        }
      }
    }

    .img-site-right {
      @include media($mobile) {
        @include span-columns(6);
        @include shift(3);

        img {
          margin: rem(60px) 0 rem(-110px) 0;
        }
      }
    }
  }

  .section-color {
    @include media($mobile) {
      height: rem(700px);
    }
    
    .img-site-left {
      @include media($mobile) {
        @include span-columns(6);
        @include shift(3);

        img {
          margin: rem(40px) 0 rem(-110px) 0;
        }
      }
    }

    .site-info {
      @include media($mobile) {
        @include span-columns(10);
        @include shift(1);

        p {
          text-align: left;
          font-size: .9em;
        }

        button {
          @include outer-container;
          margin: rem(20px) rem(10px);
        }
      }
    }
  }
}

//================ TEXTURE ==================//

@mixin texture($gradient-angle, $bg-color-1, $bg-color-2, $texture-number, $inverted) { $texture-list: 
  "paper.png"             // Fabric and paper
  "rice_paper.png"
  "noise_lines.png"
  "fabric_plaid.png"
  "first_aid_kit.png"
  "texturetastic_gray.png"
  "lil_fiber.png"
  "tex2res5.png"
  "skin_side_up.png"
  "light_noise_diagonal.png"
  "chruch.png"
  "45degreee_fabric.png"
  "bgnoise_lg.png"
  "little_pluses.png"
  "squairy_light.png"
  "white_texture.png"
  "binding_light.png"
  "double_lined.png"      // Grid, mesh and squares
  "grid.png"
  "absurdidad.png"
  "grid_noise.png"
  "fancy_deboss.png"
  "graphy.png"
  "noise_pattern_with_crosslines.png"
  "old_mathematics.png"
  "ps_neutral.png"
  "subtle_freckles.png"
  "wavegrid.png"
  "az_subtle.png"
  "tiny_grid.png"
  "wavegrid.png"
  "gridme.png"
  "noisy_grid.png"
  "subtlenet2.png"
  "white_carbon.png"
  "lghtmesh.png"
  "p5.png"                 // Dots
  "worn_dots.png"
  "subtle_dots.png"
  "brillant.png"
  "farmer.png"
  "retina_dust.png"        // Lines
  "pinstripe.png"
  "line_horizontal1.png"
  "line_horizontal2.png"
  "linen.png" 
  "vintage_speckles.png"   // Patina and irregular
  "subtle_grunge.png"
  "old_wall.png"
  "brushed.png"
  "stucco.png"
  "mooning.png"
  "husk.png"
  "concrete_wall_2.png"
  "noisy.png"
  "concrete_wall_3.png"
  "subtle_surface.png"
  "dust.png"
  "light_alu.png"
  "corrugation.png" 
  "kindajean.png"           // Diagonal
  "line_diagonal1.png"
  "line_diagonal2.png"
  "groovepaper.png"
  "brushed_alu.png"
  "rough_diagonal.png"
  "diagonal-noise.png"
  "cross_scratches.png"
  "striped_lens.png"
  "debut_light.png"
  "diagonal_waves.png"    // Special
  "honey_im_subtle.png"
  "pw_maze_white.png"
  "subtle_zebra_3d.png"
  "white_wave.png"
  "circles.png"
  "crosses.png"
  "grilled.png"
  "pw_pattern.png"
  "struckaxiom.png"
  "vichy.png"
  "wavecut.png"
  "whitey.png"
  "cream_pixels.png"
  "grey.png"
  "shinedotted.png"
  "stacked_circles.png"
  "noisy_grid_simple.png";

  @if ($inverted == 1) {
    @include background(url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/#{nth($texture-list, $texture-number)}"), linear-gradient($gradient-angle, $bg-color-1, $bg-color-2), center no-repeat $bg-color-1 scroll);
  }

  @else {
    @include background(url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/#{nth($texture-list, $texture-number)}"), linear-gradient($gradient-angle, $bg-color-1, $bg-color-2), center no-repeat $bg-color-1 scroll);
  }
}

.texture {
  $texture-top-background: lighten(#f7f7f7, 1%);
  $texture-bottom-background: darken(#f7f7f7, 1%);

  .texture-normal {
    // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal  
    @include texture(180deg, $texture-top-background, $texture-bottom-background, 73, 1); 
  }
}
